body, html {
    margin: 0;
    padding: 0;
}

h1 {
    display: inline-block;
    background-color: yellow;
}

table {
  width: 75%;
  border-collapse: collapse;
  table-layout: fixed;
}

table, th, td {
  border: 1px solid black;
}

th {
  height: 50px;
}

th, td {
  padding: 15px;
  text-align: center;
}
